* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #082c6c;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.game {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

/* Title of the game */
.title {
  font-size: 48px;
  z-index: 2;

}

.score {
  display: flex;
  width: 400px;
  width: 30vw;
  margin: 40px 0px;
  justify-content: space-evenly;
  z-index: 1;
}

/* Score  */
.p-count,
.c-count {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.rock,
.paper,
.scissor {
  padding: 0.8rem;
  width: 100px;
  border-radius: 10px;
  background: green;
  outline: none;
  border-color: green;
  border: none;
  cursor: pointer;
}

.reload {
  display: none;
  margin-top: 2rem;
  padding: 1rem;
  background: green;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.options {
  display: flex;
  justify-content: space-evenly;
  width: 35vw;
  margin-top: 20px;
}

.move {
  font-size: 32px;
}

.result {
  margin-top: 10px;
  font-size: 18px;
  color: yellow;
}

/* Responsive Design */
@media screen and (max-width: 612px) {
  .title {
    text-align: center;
  }

  .score {
    position: absolute;
    top: 200px;
    width: 100vw;
  }

  .options {
    width: 100vw;
  }
}